ksiazka_adresowa.layout
ksiazka_adresowa.cscope_file_list
ksiazka_adresowa.depend
Adresaci.txt
Uzytkownicy.txt


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


